*{
  background-color:#EDEAED;
  font-family:lucida console;
}

h1{
  text-align: center;
}

a{
  text-decoration: none;
  color:black;
}

a:hover{
  color:#a8a8a8;
}

p{

  margin-top: 2em;
}

footer{
  text-align: center;
  margin-top: 7em;
}

i:hover{
  color:#a8a8a8;
}

i.fa.fa-github-square.fa-3x {
margin-right: 1.5em;
}

i.fa.fa-linkedin-square.fa-3x {
margin-right: 1.5em;
}