*{
  background-color:#EDEAED;
  font-family:lucida console;
}

header{
  text-align: center;
  background-color: #aaf0d1;
}

h3{
margin-top: 5em;
}

h3:hover{
  color:#aaf0d1;
}

main h5{
  float: left;
  margin-top: 40px;
}

a {
  color:black;
}

p{
  text-align: left;
  margin-top: 4em;
}

a:hover{
  color:#a8a8a8;
}

footer{
  text-align: center;
  margin-top: 7em;
}

i:hover{
  color:#a8a8a8;
}

i.fa.fa-github-square.fa-3x {
margin-right: 1.5em;
}

i.fa.fa-linkedin-square.fa-3x {
margin-right: 1.5em;
}






