*{
  font-family:sans-serif;
}

h1{
  text-align: center;
}


h3{
  margin-top: 3em;
}

h3:hover{
  color:#aaf0d1;
}

main h5{
  float: left;
  margin-top: 40px;
}

a{
  color:black;
  text-decoration: none;
}

p{
  text-align: left;
  margin-top: 4em;
  position: relative;
}

a:hover{
  color:#a8a8a8;
}

header{
  text-align: right;
/*  margin-right: 2em;*/
  background-color: #aaf0d1;
  position: static;

}


#home{
  display: inline-block;
  margin-right: 1em;
  font-weight: bold;
}

#contact{
  display: inline-block;
  font-weight: bold;
  margin-right: 1em;
}



#about{
  margin-right: 1em;
  display: inline-block;
  font-weight: bold;
}

#projects{
  display: inline-block;
  font-weight: bold;
  margin-right: 2em;
}








