*{
  font-family:sans-serif;
  color:#000000;
  position: relative;
}

a{
  text-decoration: none;
}

a:hover{
  color:#a8a8a8;
}

h3:visited{
  color: #aaf0d1;
}

h3:hover{
 color:#a8a8a8;
}

h3:linked{
  color:#aaf0d1;
}

h1 {
  text-align: center;
}


h3 {
  text-align: center;
  margin-top:5em;

}

header{
  text-align: right;
  background-color: #aaf0d1;
  position: static;

}

#home{
  display: inline-block;
  margin-right: 1em;
  font-weight: bold;
}

#about{
  display: inline-block;
  font-weight: bold;
  margin-right: 1em;
}

#projects{
  display: inline-block;
  font-weight: bold;
  margin-right: 1em;
}

#blog{
  margin-right: 2em;
  display: inline-block;
  font-weight: bold;
}

