*{
  background-color:#EDEAED;
  font-family:lucida console;

}



header{
  text-align: center;
  background-color: #aaf0d1;
}

img{
  position: static;
}


nav{
    position: relative;
    text-align: center;
    color:#000000;

}

a:hover{
 color:#a8a8a8;
}

#a{
  display: inline-block;
  border-right: 2px solid black;
  padding-right: 3em;
  margin-top: 20em;
  margin-right: 3em;


}

#b{
  display: inline-block;
  border-right: 2px solid black;
  padding-right: 3em;
  margin-right: 3em;

}


#c{
  display: inline-block;
  border-right: 2px solid black;
  padding-right: 3em;
  margin-right: 3em;

}

#d{
  display: inline-block;
   border-right: 2px solid black;
   padding-right: 3em;
   margin-right: 3em;

}

#e{
  display: inline-block;


}

footer{
  margin-top: 20em;
  text-align: center;
}

#git{
  display: inline-block;
  border: 1px black solid;
  margin-right:5em;



}

#in{
  display: inline-block;

  border: 1px black solid;
  margin-right:5em;

}

#twitter{
  display: inline-block;
  border: 1px black solid;

}

