*{
  background-color:#EDEAED;
  font-family:lucida console;

}


header{
  text-align: center;
  background-color: #aaf0d1;
}

img{
  position: static;
}

nav{
    position: static;
    text-align: center;
    color:#000000;
    margin-top: -7em;

}

a:hover{
 color:#a8a8a8;
}


#a{
  display: inline-block;
  border-right: 2px solid black;
  padding-right: 3em;
  margin-top: 20em;
  margin-right: 4em;

}

#b{
  display: inline-block;
  border-right: 2px solid black;
  padding-right: 3em;
  margin-right: 4em;
}


#c{
  display: inline-block;

}

#d{
  display: inline-block;
  border-right: 2px solid black;
  padding-right: 3em;
  margin-right: 4em;
}

footer{
  text-align: center;
  margin-top: 8em;
}

i:hover{
  color:#a8a8a8;
}

i.fa.fa-github-square.fa-3x {
margin-right: 1.5em;
}

i.fa.fa-linkedin-square.fa-3x {
margin-right: 1.5em;
}


